---
import {
  setAuthenticated,
  isAuthenticated,
  //  isOpenDemoMode,
} from "../../utils/session";

let loginError = false;
let redirectPath = "/";

const url = new URL(Astro.request.url);
redirectPath = url.searchParams.get("redirect") || "/";
const forceLogin = url.searchParams.get("force") === "true";

const authenticated = await isAuthenticated(Astro);
const isOpenDemo = import.meta.env.PRIVATE_OPEN_DEMO === "true";

if (authenticated && !forceLogin) {
  return Astro.redirect(redirectPath);
}

if (isOpenDemo && !forceLogin) {
  setAuthenticated(Astro, true, true);
  return Astro.redirect(redirectPath);
}

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const password = data.get("password");
  if (password === import.meta.env.PRIVATE_AUTH_SECRET) {
    setAuthenticated(Astro, true, false);
    return Astro.redirect(redirectPath);
  } else {
    loginError = true;
  }
}

const showLoginForm = forceLogin || !isOpenDemo;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    {
      loginError && (
        <p style="color: red;">Invalid password. Please try again.</p>
      )
    }
    {
      showLoginForm ? (
        <form method="POST">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <input type="hidden" name="redirect" value={redirectPath} />
          <button type="submit">Submit</button>
        </form>
      ) : (
        <p>
          Open demo mode is active.{" "}
          <a href={`/storykeep/login?redirect=${redirectPath}&force=true`}>
            Click here to log in for full access
          </a>
          .
        </p>
      )
    }
  </body>
</html>
