---
import { setAuthenticated } from "../../utils/session";

setAuthenticated(Astro, false);

return Astro.redirect("/");
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged Out</title>
  </head>
  <body>
    <h1>Logged Out</h1>
    <p>You have been successfully logged out.</p>
    <a href="/">Return to Home</a>
  </body>
</html>
