---
import Link from "./Link.astro";
import { socialIcons, socialIconKeys } from "@assets/socialIcons";

const socials = import.meta.env.PUBLIC_SOCIALS.split(`,`).map((s: string) =>
  s.split(`|`)
);
---

<div class="flex flex-wrap justify-center gap-3">
  {
    socials
      .filter((i: [string, string] | [string, string, string]) =>
        socialIconKeys.includes(i[0])
      )
      .map((social: [string, string] | [string, string, string]) => (
        <Link
          href={social[1]}
          className="my-1 p-2 hover:rotate-6"
          target="_blank"
          title={typeof social[2] === `string` ? social[2] : social[1]}
        >
          <span class="inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110">
            <Fragment
              set:html={socialIcons[social[0] as keyof typeof socialIcons]}
            />
          </span>
        </Link>
      ))
  }
</div>
