---
//import type { ResourceDatum } from "../types";
//
//export interface Props {
//  resources: ResourceDatum[];
//  slug: string;
//}
//
//const { resources,slug } = Astro.props;

// this is an empty file
// to use, set ENABLE_HEADER_WIDGET=true and add your stuff
---

