:root {
  /*
  --font-main: "Font-Main";
  --font-action: "Font-Action";
  */
  --font-main: "Inter";
  --font-action: "Inter";
  --scale: 1;
  --brand-1:#10120d; /* black */
  --brand-2:#fcfcfc; /* white */
  --brand-3:#f58333; /* bright orange */
  --brand-4:#c8df8c; /* bright green */
  --brand-5:#293f58; /* dark blue */
  --brand-6:#a7b1b7; /* bright grey */
  --brand-7:#393d34; /* dark grey */
  --brand-8:#e3e3e3; /* off white */
}

/*
@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Futura-Boo.woff");
  font-display: swap;
}

@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Futura-Bol.woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Font-Action";
  src: url("../fonts/Bison-Bold.woff");
  font-display: swap;
}
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main), Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (prefers-reduced-motion) {
  scroll-behavior: auto;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}

#main-header {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#main-header.header-hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}
