import type { Site } from "./types";

export const SITE: Site = {
  website: "https://tractstack.com/",
  author: "At Risk Media",
  desc: "no-code website buider and content marketing platform",
  title: "TractStack",
  ogImage: "custom/og.png",
  ogLogo: "custom/logo.png",
};

export const LOCALE = {
  lang: "en",
  langTag: ["en-EN"],
} as const;
